/* *{outline: solid 1px red;} */
*{font-family: 'Roboto', sans-serif;}

body{
    background-color: #f6fafb;
}
.signIn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 4px #cccccc, -2px -2px 8px 4px #cccccc;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open>.dropdown-toggle.btn-link {
    color: #31903b;
}
.btn-link-sec:hover, .btn-link-sec:focus, .btn-link-sec:active, .btn-link-sec.active, .open>.dropdown-toggle.btn-link-sec {
    color: #ac4c4b;
}
.custom-btn{
    background-color: #65c168;
    border: solid 1px #65c168;
    border-radius: 0.25rem;
    padding: 6px;
    width: 100%;
    color: #ffffff
}
.custom-btn:hover, .custom-btn:focus, .custom-btn:active, .custom-btn.active, .open >.dropdown-toggle.custom-btn {
    background-color: #31903b;
}
.custom-btn-sec{
    background-color: #e17b77;
    border: solid 0px #e17b77;
    border-radius: 0.25rem;
    padding: 6px;
    width: 100%;
    color: #ffffff
}
.custom-btn-sec:hover, .custom-btn-sec:focus, .custom-btn-sec:active, .custom-btn-sec.active, .open >.dropdown-toggle.custom-btn-sec {
    background-color: #ac4c4b;
}
.timeline-container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 40px 0;
}
.timeline-container::after {
	background-color: #e17b77;
	content: '';
	position: absolute;
	left: calc(50% - 2px);
	width: 4px;
	height: 100%;
}

.timeline-item {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	position: relative;
	margin: 10px 0;
	width: 50%;
}
.timeline-item:nth-child(odd) {
	align-self: flex-end;
	justify-content: flex-start;
	padding-left: 30px;
	padding-right: 0;
}

.timeline-item-content {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 15px;
	position: relative;
	width: 400px;
	max-width: 70%;
	text-align: right;
}
.timeline-item-content::after {
	content: ' ';
	background-color: #fff;
	box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
	position: absolute;
	right: -7.5px;
	top: calc(50% - 7.5px);
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
}
.timeline-item:nth-child(odd) .timeline-item-content {
	text-align: left;
	align-items: flex-start;
}
.timeline-item:nth-child(odd) .timeline-item-content::after {
	right: auto;
	left: -7.5px;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	top: 5px;
	left: 5px;
	letter-spacing: 1px;
	padding: 5px;
	position: absolute;
	text-transform: uppercase;
}
.timeline-item:nth-child(odd) .timeline-item-content .tag {
	left: auto;
	right: 5px;
}
.timeline-item-content time {
	color: #777;
	font-size: 12px;
	font-weight: bold;
}
.timeline-item-content p {
	font-size: 16px;
	line-height: 24px;
	margin: 15px 0;
	max-width: 250px;
}
.timeline-item-content a {
	font-size: 14px;
	font-weight: bold;
	color: #555;
}
.timeline-item-content a::after {
	content: ' ►';
	font-size: 12px;
}
.timeline-item-content .circle {
	background-color: #fff;
	border: 3px solid #e17b77;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 10px);
	right: -40px;
	width: 20px;
	height: 20px;
	z-index: 100;
}
.timeline-item:nth-child(odd) .timeline-item-content .circle {
	right: auto;
	left: -40px;
}



/* one-line-css */
.font-col{color: #65c168;}
.font-sec-col{color: #e17b77;}
.font-white{color: white;}
.background-col{background-color: #65c168;}
.bold{font-weight: bold;}
.btn-link{color: #65c168; padding: 0px;}
.btn-link-sec{color: #e17b77; padding: 0px;}
.bold{font-weight: bold;}
.m-16{margin: 1rem;}
.m-64{margin: 4rem;}
.mt-32{margin-top: 2rem;}
.mb-32{margin-bottom: 2rem;}
.mb-64{margin-bottom: 4rem;}
.ml-100{margin-left: 100%;}
.p-0{padding: 0rem;}
.insert-btn{width: 200px; margin-left: calc(100% - 226px); margin-top: 20px;}
